// COLORS
$color-primary-light: #d8f2ff;
$color-primary-dark: #2998ff;

$color-blue-font: #28345a;
$color-grey-font: #777;

$color-sun-light: #ffdd00;
$color-sun-dark: #fbb034;

$color-light-dot: #bbb;
$color-dark-dot: #717171;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// SHADOW
$box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
